djangorestframework==3.16.1
django-money==3.6.0
django-phonenumber-field==8.4.0
Django==6.0.2
drf-yasg==1.21.15
phonenumbers==9.0.24
pytz==2025.2
python-dateutil==2.9.0.post0
sqlparse==0.5.5
pytest
pytest-cov==7.0.0
pytest-django==4.12.0
pytest-sugar==1.1.1
pre-commit==4.5.1
mypy==1.19.1
pyannotate==1.2.0
pytest-annotate
types_python_dateutil==2.9.0.20260124
django-stubs==5.1.3
