djangorestframework==3.16.1
django-money==3.5.4
django-phonenumber-field==8.4.0
Django==5.2.8
drf-yasg==1.21.11
phonenumbers==9.0.19
pytz==2025.2
python-dateutil==2.9.0.post0
sqlparse==0.5.4
pytest
pytest-cov==7.0.0
pytest-django==4.11.1
pytest-sugar==1.1.1
pre-commit==4.5.0
mypy==1.19.0
pyannotate==1.2.0
pytest-annotate
types_python_dateutil==2.9.0.20251115
django-stubs==5.2.8
