djangorestframework==3.16.0
django-money==3.5.4
django-phonenumber-field==8.1.0
Django==5.1.7
drf-yasg==1.21.10
phonenumbers==9.0.6
pytz==2025.2
python-dateutil==2.9.0.post0
sqlparse==0.5.3
pytest
pytest-cov==6.1.1
pytest-django==4.11.1
pytest-sugar==1.0.0
pre-commit==4.2.0
mypy==1.16.0
pyannotate==1.2.0
pytest-annotate
types_python_dateutil==2.9.0.20250516
django-stubs==5.1.3
